<form action="/" method="post">
 <label for="number1">Number 1</label>
 <input type="text" id="number1" name="number1">

 <label for="number2">Number 2</label>
 <input type="text" id="number2" name="number2">

 <button name="sum">+</button>
 <button name="subtract">-</button>
 <button name="multiply">*</button>
 <button name="divide">/</button>

 <input type="submit" value="Get result">
</form>
